---
- import_tasks: standard_role.yml

# 2. Install fzf-git.sh
- name: Install fzf-git.sh
  git:
    repo: "https://github.com/junegunn/fzf-git.sh.git"
    dest: "{{ ansible_facts['user_dir'] }}/.local/share/fzf-git"
    version: main
