---
# 1. Hardware detection (MacBook Pro check)
- import_tasks: detect_hardware.yml

# 2. Standard role setup
- import_tasks: standard_role.yml

# 3. Install fzf-git.sh
- name: Install fzf-git.sh
  git:
    repo: "https://github.com/junegunn/fzf-git.sh.git"
    dest: "{{ ansible_facts['user_dir'] }}/.local/share/fzf-git"
    version: main
