[user]
	name = kazscape
	email = 3782734+kazscape@users.noreply.github.com

[include]
    path = ~/.gitconfig.local
[core]
	excludesfile = ~/.gitignore_global
	pager = delta
[init]
	defaultBranch = main
[pull]
	rebase = false
[credential]
	helper = manager

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true
	syntax-theme = tokyonight_night

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default
